.font-style {
    font-size: 15px;
    letter-spacing: -0.35px;
    color: #bbbbbb;
    font-family: SourceSansPro;
}

.main-header {
    height: 75px;
    width: 170vh;
    background-color:#f3f3f3;
    align-items: center;
    justify-content: space-between;
}

.search-wrapper {
    position: relative;
    margin-left: 50px;
}

.search-box {
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border: solid 1px #dadada;
    position: relative;
    overflow-y: auto;
    text-align: left;
    padding-left: 24px;
    font-style: italic;
    border-radius: 25px;
}
    
.search-box:hover,
.search-box:focus {
    background-color: #e6f7fe;
    box-shadow: 0 0 10px 0 rgba(0, 174, 239, 0.5);
    border: solid 1px #00aeef;
    outline: none;
}

.gradient{
    width: 238px;
    height: 189px;
    opacity: 0.13;
    background-image: radial-gradient(circle at 52% 46%, rgba(255, 255, 255, 0.0), #00547d);
    background-color: rgba(255, 255, 255, 0.0);
    position:inherit ;
    z-index:5;
}

.search-icon{
    background-repeat: no-repeat;
    width:18px;
    height:18px;
    border: 0;
    top: 16px;
    right: 16px;
    position: absolute;
    outline: none;
}

.account {
    margin-left: 10px;
    margin-top: 6px;
    margin-right: 25px;
}


